html, body{
    height: 100vh;
    margin: auto 0;
    background: linear-gradient(to right, #133253 , #2A4C6F, #133253);
}

.screen-container {
  display: grid;
  height: 100vh; /*vh = view height*/
  grid-template-rows: 50px auto;
}

.container {
  display: grid;
  background-color: rgba(19, 50, 83, 0.0);
  height: 100%;
  gap: 40px;
  width: auto;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

.player-cards {
    background-color: rgba(19, 50, 83, 0.0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    column-gap: 20px;
}

.position-name > img {
    height: 70%;
}

.position-name > img:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    transform: scale(1.05);
    transition: 250ms;
    cursor:pointer;
}

.position-name > h2 {
  color: #BEC0C3;
}

.lineup-bar {
    display: grid;
    grid-template-rows: 5% 1fr 5%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    color: #f2f7fc;
}

.player-names {
    background-color: rgba(75, 105, 139, 0.0);
}

.player-names > button {
  width: 100%;
  height: 3em;
}

.lineup-border {
  background: rgba(0, 0, 0, 0.0);
}

/*media queries*/
@media screen 
  and (max-width: 1225px)  { 
    .container {
        grid-template-rows: 1fr, 2fr;
        padding-top: 10%;
    }
    .lineup-bar {
        order: -1;
        grid-template-rows: 2% 1fr 1%;
    }
}

@media screen 
  and (min-width: 1226px)  { 
    .container {
        grid-template-columns: 4fr minmax(200px, 1fr);
        padding-top: 10%;
    }
}

/*NAV*/
.zone {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    transition: all 0.3s linear;
    background: rgba(0, 0, 0, 0.7);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navBar {
    display: flex;
    list-style: none;   
    margin: auto 0;
    align-items: center;
}

.navLeft {
    padding: 20px;
}

.navRight {
    margin-left: auto;
    padding: 25px;
}

.navBar > li > a {
    text-decoration: none;
    color: white;
}

.menuLink:link {
    color: white;
}

.menuLink:visited {
    color: white;
}

/* lineup buttons */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#051E39, #133253 50%,#2A4C6F);
  border: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 2em;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 1fr;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
  box-shadow: rgba(255, 255, 255, 0.2) 0 15px 30px -5px;
}

.button-64 span {
  background-color: #4D6C8C;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  display: flex;          
  align-items: center; 
  justify-content: center;
}

.button-64:hover span {
  background: none;
}

.clicked {
    border: 3px solid white;
    border-radius: 6px;
}

.clicked-shadow {
    transform: scale(1.05);
    transition: 250ms;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 1.0);
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
    text-justify: center;
    text-align: center;
  }
}


