html {
	height: 100vh;
    background-color: #133253;
    margin: 5%;
}

body {
    
}

.container {
	display: grid;
    background-color: rgb(19, 50, 83);
    height: 100%;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    width: 100%;
}

.field {
	
}

.player-cards {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.player-cards > img {
	height: 100%;
}

.player-cards > img:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    transform: scale(1.1);
    transition: 250ms;
}

.lineup-bar {
	background-color: rgb(75, 105, 139);
    display: grid;
    grid-template-rows: 5% 1fr 5%;
    gap: 20px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    color: #f2f7fc;
/*    border-bottom: 5% solid #133253;*/
}

.lineup-bar > ol {
    line-height: 2em;
}


/* lineup buttons */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#051E39, #133253 50%,#2A4C6F);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 2em;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 1fr;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
  box-shadow: rgba(255, 255, 255, 0.2) 0 15px 30px -5px;
}

.button-64 span {
  background-color: #4D6C8C;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
