html {
	height: 100vh;
    background-color: #133253;
    margin: 5%;
}

body {
    
}

.container {
	display: grid;
    background-color: rgb(19, 50, 83);
    height: 100%;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    width: 100%;
}

.field {
	
}

.player-cards {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.player-cards > img {
	height: 100%;
}

.player-cards > img:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 10px 20px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    transform: scale(1.1);
}

.lineup-bar {
	background-color: rgb(75, 105, 139);
    display: grid;
    grid-template-rows: 5% 1fr 5%;
    gap: 20px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    color: #f2f7fc;
/*    border-bottom: 5% solid #133253;*/
}

.lineup-bar > ol {
    line-height: 2em;
}
